<div id="repoman_checks">
	<h1>Repoman Checks</h1>
	<small>
		Last updated on
		<%=Time.at(update_timestamp.to_i).strftime('%Y-%m-%d')%>
		using a portage snapshot dated
		<%=Time.at(portage_timestamp.to_i).strftime('%Y-%m-%d')%>
	</small>
</div>

<form class="pull-right">
	<input type="checkbox" onclick="$('td:contains(\'+amd64\')').parent().toggle();" checked> amd64
	<input type="checkbox" onclick="$('td:contains(\'+~amd64\')').parent().toggle();" checked> ~amd64
</form>

<table id="sortable" class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th class="width-52">Package</th>
			<th class="width-14">Date</th>
			<th class="width-17">Result</th>
			<th class="width-17">History</th>
		</tr>
	</thead>
	<%repomans.each do |repoman|%>
	<%next if repoman.nil?%>
	<tr>
		<td class="width-52">
			<%=repoman.package[:identifier]%>
		</td>
		<td class="width-14">
			<%=Time.at(repoman[:timestamp].to_i).strftime('%Y-%m-%d')%>
		</td>
		<td class="width-17 <%=repoman[:result]%>">
			<a href="/repoman_logs/<%=repoman.package[:sha1]%>/<%=repoman[:timestamp]%>"><%=repoman[:result].camelcase%></a>
		</td>
		<td class="width-17">
			<a href="/repoman_history/<%=repoman.package[:sha1]%>"><%=repoman.package.repoman_dataset.where(target: 'current').count%> Checks(s)</a>
		</td>
		<td style="display:none;">
			+<%=repoman.package[:amd64_keyword]%>
		</td>
	</tr>
	<%end%>
</table>
