<div id="outdated_gems">
	<h1>Outdated Gems</h1>
	<small>
		Last updated on
		<%=Time.at(packages.first[:update_timestamp].to_i).strftime('%Y-%m-%d')%>
		using a portage snapshot dated
		<%=Time.at(packages.first[:portage_timestamp].to_i).strftime('%Y-%m-%d')%>
	</small>
</div>

<%=erb :'partials/search', :layout => false%>

<form class="pull-right">
	<input type="checkbox" onclick="$('td:contains(\'+amd64\')').parent().toggle();" checked> amd64
	<input type="checkbox" onclick="$('td:contains(\'+~amd64\')').parent().toggle();" checked> ~amd64
</form>

<table id="sortable" class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th class="width-52">Package</th>
			<th class="width-24">Gentoo Version</th>
			<th class="width-24">RubyGem Version</th>
		</tr>
	</thead>
	<tbody class="searchable">
	<%packages.each do |package|%>
	<%if package[:gem_version] > package[:version]%>
	<tr>
		<td class="width-52">
			<%=package[:identifier]%>
		</td>
		<td class="width-24 success"><%=package[:version]%></td>
		<td class="width-24 danger"><a href="//rubygems.org/gems/<%=package[:name]%>"><%=package[:gem_version]%></a></td>
		<td style="display:none;">
			+<%=package[:amd64_keyword]%>
		</td>
	</tr>
	<%end%>
	<%end%>
	</tbody>
</table>
