<div class="text-center">
	<h1><%=build[:package_id]%></h1>
	<ul class="pagination">
		<li class=<%="disabled" if build[:emerge_info].nil?%>><a href="#emerge_info">Emerge Info</a></li>
		<li class=<%="disabled" if build[:emerge_pqv].nil?%>><a href="#emerge_pqv">Emerge PQV</a></li>
		<li class=<%="disabled" if build[:build_log].nil?%>><a href="#build_log">Build Log</a></li>
		<li class=<%="disabled" if build[:gem_list].nil?%>><a href="#gem_list">Gem List</a></li>
		<li class=<%="disabled" if build[:environment].nil?%>><a href="#environment">Environment</a></li>
	</ul>
</div>

<%unless build[:emerge_info].nil?%>
<h4><a name="emerge_info">Emerge Info:</a></h4>
<pre><%=build[:emerge_info]%></pre>
<%end%>

<%unless build[:emerge_pqv].nil?%>
<h4><a name="emerge_pqv">Emerge PQV:</a></h4>
<pre><%=build[:emerge_pqv]%></pre>
<%end%>

<%unless build[:build_log].nil?%>
<h4><a name="build_log">Build Log:</a></h4>
<pre><%=build[:build_log]%></pre>
<%end%>

<%unless build[:gem_list].nil?%>
<h4><a name="gem_list">Gem List:</a></h4>
<pre><%=build[:gem_list]%></pre>
<%end%>

<%unless build[:environment].nil?%>
<h4><a name="environment">Environment</a></h4>
<pre><%=build[:environment]%></pre>
<%end%>
