<h1 class="text-center"><%=builds.first[:package_id]%></h1>

<table id="sortable" class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th class="width-50">Build Date</th>
			<th class="width-50">Build Result</th>
		</tr>
	</thead>
	<%builds.each do |build|%>
	<%next if build.nil?%>
	<%result = 'success' if build[:result] == 'succeeded'%>
	<%result = 'info' if build[:result] == 'timed out'%>
	<%result = 'danger' if build[:result] == 'failed'%>
	<tr>
		<td class="width-50">
			<%=Time.at(build[:time].to_i).strftime('%Y-%m-%d')%>
		</td>
		<td class="width-50 <%=result%>">
			<a href="/build_logs/<%=build[:package_id]%>/<%=build[:time]%>"><%=build[:result].camelcase%></a>
		</td>
	</tr>
	<%end%>
</table>
