<div id="build_status">
	<h3>Build Status (CI)</h3>
</div>
<table class="table table-bordered table-condensed">
	<tr>
		<th>Package</th>
		<th>Build Date</th>
		<th>Build Result</th>
	</tr>
	<%Package.order{[category, lower(name), version]}.each do |package|%>
	<%build = Build.where(package_id: package[:identifier]).order(:time).last%>
	<%next if build.nil?%>
	<%result = 'success' if build[:result] == 'succeeded'%>
	<%result = 'info' if build[:result] == 'timed out'%>
	<%result = 'danger' if build[:result] == 'failed'%>
	<tr>
		<td width="52%">
			<%=package[:identifier]%>
		</td>
		<td width="24%">
			<%=Time.at(build[:time].to_i).strftime('%Y-%m-%d')%>
		</td>
		<td width="24%" class="<%=result%>">
			<a href="/build_logs/<%=package[:identifier]%>"><%=build[:result].camelcase%></a>
		</td>
	</tr>
	<%end%>
</table>
