<div id="build_status">
	<h3>Build Status (CI)</h3>
</div>
<table class="table table-bordered table-condensed" id="ruby_targets_table">
	<tr>
		<th>Package</th>
		<th>Build Date</th>
		<th>Build Result</th>
	</tr>
	<%Package.order{[category, lower(name), version]}.each do |package|%>
		<%next if package.builds.empty?%>
		<%build = package.builds_dataset.reverse_order(:time).first%>
		<tr>
			<td width="52%">
				<%=package[:identifier]%>
			</td>
			<td width="24%" class="<%=build[:result] == 'succeeded' ? 'success' : 'danger'%>">
				<%=Time.at(build[:time].to_i).strftime('%Y-%m-%d')%>
			</td>
			<td width="24%" class="<%=build[:result] == 'succeeded' ? 'success' : 'danger'%>">
				<a href="/build_logs/<%=package[:identifier]%>"><%=build[:result].camelcase%></a>
			</td>
		</tr>
	<%end%>
</table>
