<%builds = Build.where(package_id: category + '/' + package).reverse_order(:time)%>

<h3 class="text-center"><%=category%>/<%=package%></h3>

<table id="sortable" class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th>Build Date</th>
			<th>Build Result</th>
		</tr>
	</thead>
	<%builds.each do |build|%>
		<%next if build.nil?%>
		<%result = 'success' if build[:result] == 'succeeded'%>
		<%result = 'info' if build[:result] == 'timed out'%>
		<%result = 'danger' if build[:result] == 'failed'%>
		<tr>
			<td width="24%">
				<%=Time.at(build[:time].to_i).strftime('%Y-%m-%d')%>
			</td>
			<td width="24%" class="<%=result%>">
				<a href="/build_logs/<%=build[:package_id]%>/<%=build[:time]%>"><%=build[:result].camelcase%></a>
			</td>
		</tr>
	<%end%>
</table>
