<div class="text-center">
	<h1><%=repomans[:package_id]%></h1>
	<div class="btn-group btn-group-justified">
		<a class="btn btn-default <%="disabled" if repomans[:current_log].nil?%>" href="#current_log">Current Ruby Target(s)</a>
		<a class="btn btn-default <%="disabled" if repomans[:next_log].nil?%>" href="#next_log">Next Ruby Target</a>
	</div>
</div>
<br>

<%unless repomans[:current_log].nil?%>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4><a name="current_log">Current Ruby Target(s)</a></h4>
	</div>
	<div class="panel-body">
		<pre><%=repomans[:current_log]%></pre>
	</div>
</div>
<%end%>

<%unless repomans[:next_log].nil?%>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4><a name="next_log">Next Ruby Target</a></h4>
	</div>
	<div class="panel-body">
		<pre><%=repomans[:next_log]%></pre>
	</div>
</div>
<%end%>
