<div id="repoman_checks">
	<h1>Repoman Checks</h1>
	<small>
		Last updated on
		<%=Time.at(update_timestamp.to_i).strftime('%Y-%m-%d')%>
		using a portage snapshot dated
		<%=Time.at(portage_timestamp.to_i).strftime('%Y-%m-%d')%>
	</small>
</div>

<form class="pull-right">
	<input type="checkbox" onclick="$('td:contains(\'+amd64\')').parent().toggle();" checked> amd64
	<input type="checkbox" onclick="$('td:contains(\'+~amd64\')').parent().toggle();" checked> ~amd64
</form>

<table id="sortable" class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th class="width-52">Package</th>
			<th class="width-14">Date</th>
			<th class="width-17">Result</th>
			<th class="width-17">History</th>
		</tr>
	</thead>
	<%repomans.each do |repoman|%>
	<%package = Package.where(identifier: repoman[:package_id]).first%>
	<%next if package.nil?%>
	<%result = 'info'%>
	<%result = 'success' if repoman[:next_result] == 'passed'%>
	<%result = 'danger' if repoman[:current_result] == 'failed'%>
	<%result = 'danger' if repoman[:current_result] == 'partial'%>
	<tr>
		<td class="width-52">
			<%=repoman[:package_id]%>
		</td>
		<td class="width-14">
			<%=Time.at(repoman[:time].to_i).strftime('%Y-%m-%d')%>
		</td>
		<td class="width-17 <%=result%>">
			<a href="/repoman_logs/<%=repoman[:package_id]%>/<%=repoman[:time]%>"><%=repoman[:current_result].camelcase%> / <%=repoman[:next_result].camelcase%></a>
		</td>
		<td class="width-17">
			<a href="/repoman_history/<%=repoman[:package_id]%>"><%=Repoman.where(package_id: repoman[:package_id]).count%> Check(s)</a>
		</td>
		<td style="display:none;">
			+<%=package[:amd64_keyword]%>
		</td>
	</tr>
	<%end%>
</table>
