<div id="ruby_targets">
	<h1>Ruby Targets</h1>
</div>

<form class="pull-right">
	<input type="checkbox" onclick="$('td:contains(\'+amd64\')').parent().toggle();" checked> amd64
	<input type="checkbox" onclick="$('td:contains(\'+~amd64\')').parent().toggle();" checked> ~amd64
</form>

<table id="sortable" class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th class="width-52">Package</th>
			<th class="width-12">Ruby 1.9</th>
			<th class="width-12">Ruby 2.0</th>
			<th class="width-12">Ruby 2.1</th>
			<th class="width-12">Ruby 2.2</th>
		</tr>
	</thead>
	<%packages.each do |package|%>
	<%package = package[1][0]%>
	<tr>
		<td class="width-52">
			<%=package[:identifier]%>
		</td>
		<td class="width-12 <%=package[:r19_target] == "nil" ? "danger" : "success"%>">
			<%=package[:r19_target]%>
		</td>
		<td class="width-12 <%=package[:r20_target] == "nil" ? "danger" : "success"%>">
			<%=package[:r20_target]%>
		</td>
		<td class="width-12 <%=package[:r21_target] == "nil" ? "danger" : "success"%>">
			<%=package[:r21_target]%>
		</td>
		<td class="width-12 <%=package[:r22_target] == "nil" ? "danger" : "success"%>">
			<%=package[:r22_target]%>
		</td>
		<td style="display:none;">
			+<%=package[:amd64_keyword]%>
		</td>
	</tr>
	<%end%>
</table>
