<div id="ruby_targets">
	<h3>Ruby Targets</h3>
</div>
<table id="sortable" class="table table-bordered table-condensed">
	<thead>
	<tr>
		<th>Package</th>
		<th>Ruby 1.9</th>
		<th>Ruby 2.0</th>
		<th>Ruby 2.1</th>
	</tr>
	</thead>
	<%Package.order{[category, lower(name), version]}.each do |package|%>
	<tr>
		<td width="52%">
			<%=package[:identifier]%>
		</td>
		<td width="16%" class="<%=package[:r19_target] == "nil" ? "danger" : "success"%>">
			<%=package[:r19_target]%>
		</td>
		<td width="16%" class="<%=package[:r20_target] == "nil" ? "danger" : "success"%>">
			<%=package[:r20_target]%>
		</td>
		<td width="16%" class="<%=package[:r21_target] == "nil" ? "danger" : "success"%>">
			<%=package[:r21_target]%>
		</td>
	</tr>
	<%end%>
</table>
