<script src='/js/jquery.flot.min.js'></script>
<script src='/js/jquery.flot.categories.min.js'></script>
<script src='/js/jquery.flot.tickrotor.min.js'></script>
<script src='/js/jquery.flot.plot.packages.per.target.js'></script>
<script src='/js/jquery.flot.plot.outdated.gems.js'></script>
<script src='/js/jquery.flot.plot.build.result.js'></script>

<h1>Visualizations</h1>

<h2>Number of Packages per Ruby Target:</h2>
<table style="display:none;" class='table table-bordered table-condensed'>
	<tr>
		<td id='ruby_1.9_amd64'><%=ruby_1_9_amd64%></td>
		<td id='ruby_1.9_~amd64'><%=ruby_1_9__amd64%></td>
		<td id='ruby_2.0_amd64'><%=ruby_2_0_amd64%></td>
		<td id='ruby_2.0_~amd64'><%=ruby_2_0__amd64%></td>
		<td id='ruby_2.1_amd64'><%=ruby_2_1_amd64%></td>
		<td id='ruby_2.1_~amd64'><%=ruby_2_1__amd64%></td>
		<td id='ruby_2.2_amd64'><%=ruby_2_2_amd64%></td>
		<td id='ruby_2.2_~amd64'><%=ruby_2_2__amd64%></td>
	</tr>
</table>
<div class='flot-container'>
	<div class='flot-plot' id='package-targets-plot'></div>
	<p class='flot-options' id='package-targets-options'></p>
</div>

<h2>Number of Outdated Gems</h2>
<table style="display:none;" class='table table-bordered table-condensed'>
	<tr>
		<td id='uptodate'><%=uptodate%></td>
		<td id='outdated'><%=outdated%></td>
	</tr>
</table>
<div class='flot-container'>
	<div class='flot-plot' id='outdated-gems-plot'></div>
	<p class='flot-options' id='outdated-gems-options'></p>
</div>

<h2>Number of Packages per Build Result</h2>
<table style="display:none;" class='table table-bordered table-condensed'>
	<tr>
		<td id='succeeded'><%=succeeded%></td>
		<td id='failed'><%=failed%></td>
		<td id='timed_out'><%=timed_out%></td>
	</tr>
</table>
<div class='flot-container'>
	<div class='flot-plot' id='build-result-plot'></div>
	<p class='flot-options' id='build-result-options'></p>
</div>
